* {
  /* Applies to all elements and doest get inherited 
  border-top: 10px solid #1098ad; */
  /* Global reset is very common, always do first */
  margin: 0;
  padding: 0;
}

body {
  color: #444;
  font-family: sans-serif;
  position: relative;
  border-top: 10px solid #1098ad;
}

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  color: rgb(27, 105, 174);
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
  text-transform: uppercase;
  font-style: italic;
  margin-bottom: 30px;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
}

h4 {
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}

li:last-child {
  margin-bottom: 0;
}

/*footer p {
  font-size: 16px;
}
 id names cannot be repeated, however classes can
 article header p {
  font-style: italic;
}*/

#author {
  font-style: italic;
  font-size: 18px;
  /* display: inline-block; */
}

#copyright {
  font-size: 16px;
}

.related-_author {
  font-size: 18px;
  font-weight: bold;
}

/* ul {
  list-style: none;
} */

.related-bullet-author {
  list-style: none;
  margin-left: 0;
}

/*header {
  background-color: #f7f7f7;
}*/

.container {
  width: 1200px;
  /* margin-left: auto;
  margin-right: auto; */
  margin: 0 auto;
}

.main-header {
  background-color: #f7f7f7;
  /* 
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px
   height: 80px;
*/
  padding: 20px 40px;
  margin-bottom: 60px;
}

.post-header {
  margin-bottom: 40px;
}

nav a:link {
  font-size: 19px;
  font-weight: 400;
}

nav {
  font-size: 18px;
}

article {
  margin-bottom: 60px;
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 50px 0;
  width: 500px;
}

/*body {
  background-color: aquamarine;
}

.first-li {
  font-weight: bold;
}*/

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

/*li:nth-child(2,odd,even,7,etc) {
  color: red;
}*/

li:nth-child(2) {
  color: red;
}

/* Psuedo Descendent selector, only works if the first-child is the first element,or vice versa*/
article p:first-child {
  color: red;
}

/*Styling Hyperlinks*/
a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  color: #1098ad;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline /*wavy*/ orangered;
}

a:active {
  background-color: black;
  font-style: italic;
}

/*LVHA*/

/* images are actually inline block elements */
.post-image {
  width: 100%;
  height: auto;
}

/*This is called a link psuedo class*/
nav a:link {
  /* background-color: orangered; 
  margin: 20px;
  padding: 20px;
  display: block;  */
  margin-top: 10px;
  margin-right: 30px;
  display: inline-block;
}

/* this is a pseudo class with a last-child attached */
nav a:link:last-child {
  margin-right: 0;
}

/* This is a psuedo element, note the 2 colons */
h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}

/* this is called adjacent sibling selector */
h3 + p::first-line {
  color: red;
}

/* this is the "after" and "before" pseudo elements, creates a opsuddo elemet that will automatially be the fort child of he selected lemeet */

h2::after {
  content: "TOP";
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
  background-color: #ffe70e;
  color: #000;
  position: absolute;
  top: -10px;
  right: -25px;
}
/* in order to use position:absolute; position:relative needs to be placed into the parent elmenent */
h2 {
  position: relative;
}
/*Resolving conflicting declarations

.author {
  font-style:italic;
  font-size: 18px;
}

.copyright {
  color: blue;
}

.text  {
  color: yellow;
}

#author-text {
  font-size: 20px;
}
p,
li {
  font-family: sans-serif;
  color: #444444;
  font-size: 22px;

}

footer p {
  color: green !important;
}


Highest priority

5 Declarations marked !important[last resort]

4 Inline style (style attribute in HTML)
 
3 ID(#) selector[multiple-last selector applies]

2 Class (.) or psuedo-class (:) selector[multiple-last selector applies]

1 Element selector (p,div,li,etc.)[multiple-last selector applies]

0 Universal selector (*)

-1 Inherited properties/values

Lowest priority


Inheritance and the universal selector
*/

nav a:link {
  font-size: 19px;
  font-weight: 400;
}

/* Today we did our first practice website on codepen, still learnig how to export to github */

/* 
The CSS Box Model
contex: text, images, etc.
Border: a line around the element still inside of the element.
Padding: incisible space around the content, inside of the element.
Margin: space outside of the element, between elements.
Fill area: area tha gets filled with background color or background image.

Final element width= left border+ left padding + width + right padding + right border

final element height= top border + top padding + height + bottom padding + bottom border

 */
button {
  font-size: 22px;
  padding: 20px;
  cursor: pointer;
  position: absolute;
  bottom: 50px;
  right: 50px;
  /* bottom-right: 10px;
} */
}

/* FLOATS */
.author-img {
  float: left;
  margin: 10px;
}

.author {
  margin-top: 10px;
  float: left;
  margin-left: 20px;
}

h1 {
  float: left;
}

nav {
  float: right;
}

.clear {
  clear: both;
}

/* this is how floats were cleared back in the day */

.clearfix::after {
  clear: both;
  clear: both;
  content: "";
  display: block;
}

article {
  /* background-color: orange; */
  width: 825px;
  float: left;
}

aside {
  /* background-color: rgb(13, 240, 164); */
  width: 300px;
  float: right;
}

footer {
  /* background-color: rgb(206, 18, 12); */
  clear: both;
}
